In [2]:
import sqlite3

# create connection object and cursor
conn = sqlite3.connect('files/sports.db')
c = conn.cursor()

# create table for players
c.execute('''CREATE TABLE players
             (id INTEGER PRIMARY KEY,
             name TEXT,
             sport TEXT,
             team TEXT,
             age INTEGER)''')

# create table for teams
c.execute('''CREATE TABLE teams
             (id INTEGER PRIMARY KEY,
             name TEXT,
             sport TEXT,
             city TEXT)''')

# insert sample data for players
c.execute("INSERT INTO players VALUES (1, 'LeBron James', 'Basketball', 'Los Angeles Lakers', 37)")
c.execute("INSERT INTO players VALUES (2, 'Tom Brady', 'Football', 'Tampa Bay Buccaneers', 44)")
c.execute("INSERT INTO players VALUES (3, 'Serena Williams', 'Tennis', 'N/A', 40)")

# insert sample data for teams
c.execute("INSERT INTO teams VALUES (1, 'Los Angeles Lakers', 'Basketball', 'Los Angeles')")
c.execute("INSERT INTO teams VALUES (2, 'Tampa Bay Buccaneers', 'Football', 'Tampa Bay')")
c.execute("INSERT INTO teams VALUES (3, 'New York Yankees', 'Baseball', 'New York City')")

# commit changes and close connection
conn.commit()
conn.close()

# Create

In [4]:
import sqlite3

def create_player(name, sport, team, age):
    # connect to database
    conn = sqlite3.connect('files/sports.db')
    c = conn.cursor()

    # insert new player data
    c.execute("INSERT INTO players (name, sport, team, age) VALUES (?, ?, ?, ?)",
              (name, sport, team, age))

    # commit changes and close connection
    conn.commit()
    conn.close()

# example usage
create_player('Christiano Ronaldo', 'Soccer', 'Manchester United', 37)

# Read

In [5]:
import sqlite3

def read_players():
    # connect to database
    conn = sqlite3.connect('files/sports.db')
    c = conn.cursor()

    # select all players from the players table
    c.execute("SELECT * FROM players")
    players = c.fetchall()

    # print player data
    for player in players:
        print(player)

    # close connection
    conn.close()

# example usage
read_players()

(1, 'LeBron James', 'Basketball', 'Los Angeles Lakers', 37)
(2, 'Tom Brady', 'Football', 'Tampa Bay Buccaneers', 44)
(3, 'Serena Williams', 'Tennis', 'N/A', 40)
(4, 'Cristiano Ronaldo', 'Soccer', 'Manchester United', 37)

# Update

In [7]:
import sqlite3

def update_player_age(name, new_age):
    # connect to database
    conn = sqlite3.connect('files/sports.db')
    c = conn.cursor()

    # update player age
    c.execute("UPDATE players SET age = ? WHERE name = ?", (new_age, name))

    # commit changes and close connection
    conn.commit()
    conn.close()

# example usage
update_player_age('LeBron James', 80)

# Delete

In [ ]:
import sqlite3

def delete_player(name):
    # connect to database
    conn = sqlite3.connect('files/sports.db')
    c = conn.cursor()

    # delete player
    c.execute("DELETE FROM players WHERE name = ?", (name,))

    # commit changes and close connection
    conn.commit()
    conn.close()

# example usage
delete_player('Serena Williams')